- apt_repository: repo='ppa:webupd8team/java'
- command: echo {{ item }} shared/accepted-oracle-license-v1-1 select true | /usr/bin/debconf-set-selections
  with_items:
    - oracle-java7-installer
    - oracle-java8-installer
- package: name={{ item }}
  with_items:
    - oracle-java7-installer
    - oracle-java8-installer
- command: update-java-alternatives -s java-8-oracle
